[build]
  command = "npm run build"
  publish = "dist/spa"
  functions = "dist/serverless/netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = [] # Force bundling all dependencies